/*****GLOBAL*****/
@media screen and (max-width: 1200px) {
    h2.revert,
    ul.revert{
        text-align: left;
        flex-direction: row;
    }
}

@media screen and (max-width: 1030px) {
    main section.aboutme {
        
        padding: 20px 0;
    }
    main section.aboutme div.introduction{
        max-width: none;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1200px) {
    footer{
        flex-direction: column-reverse;
        align-items: center;
    }
    footer > *{
        padding: 20px;
    }
}


html {
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 1.1rem;
    font-weight: bold;
}

*{
    box-sizing: border-box;
}

/*****BACKGROUND*****/
body{
    background-color: #FAEAC5;
}


/*****HEADER*****/
header{
    background-color: #FABEA2;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 60px;
    padding-bottom: 25px;
    padding-left: 60px;
    box-sizing: border-box;
}

h1.header_title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

div.header_links{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

div.header_links a{
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration-line: none;
}

div.header_links a:visited{
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: #EB3D2C;
}

div.header_links a:hover{
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: #EB3D2C;
}

/*****SEÇÃO ABOUT ME*****/
section.aboutme{
    padding-top: 40px;
    padding-right: 12vw;
    padding-bottom: 40px;
    padding-left: 12vw;
    background-color: #F9D3B7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.aboutme figure img{
    border-radius: 50%;
    transition: .5s ease;
}

section.aboutme figure img:hover{
    transform: rotate(720deg);
}


div.introduction{
    padding-left: 4vw;
    padding-right: 4vw;
    margin: auto 0 auto 0;
    max-width: 50vw;
}

/*****LISTS*****/
section.lists{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 60px;
    flex-wrap: wrap;
}

section.lists h2{
    padding: 25px 0;
}

section.lists ul,
section.lists ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.lists li{
    margin: 4px;
    box-sizing: border-box;
    width: 100px;
    box-shadow: 4px 4px 10px black;
    position: relative;
    border-radius: 5%;
    height: 150px;
}

section.lists li img{
    border-radius: 5%;
}

section.lists ol > li:first-child::after{
    background-color: #EB3D2C;
    content: "1";
    padding: 4px 2px;
    left: 8px;
    position: absolute;
    border-radius: 10%;
}

section.lists ol > li:nth-child(2)::after{
    background-color: #EB3D2C;
    top: 0;
    content: "2";
    padding: 4px 2px;
    left: 8px;
    position: absolute;
    border-radius: 10%;
}

section.lists ol > li:nth-child(3)::after{
    background-color: #EB3D2C;
    top: 0;
    content: "3";
    padding: 4px 2px;
    left: 8px;
    position: absolute;
    border-radius: 10%;
}

section.lists li img{
    width: 100%;
}

.revert{
    text-align: right;
    flex-direction: row-reverse;
}


/*****FOOTER*****/
footer{
    background-color: #FABEA2;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    box-sizing: border-box;
}

div.footer_links{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

div.footer_links a{
    padding-left: 6px;
    padding-right: 6px;
}

footer a.contact_button{
    background-color: #FAEAC5;
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-size: 0.7rem;
    text-decoration-line: none;
    color: black;
    vertical-align: middle;
    align-items: center;
    display: flex;
    padding: 4px;
    border-radius: 10%;
}

footer a.contact_button:visited{
    color: #EB3D2C;
}

footer a.contact_button:hover{
    color: #EB3D2C;
}

